* {
	background-image: none;
	box-shadow: none;
}

window {
	background-color: rgba(47, 62, 70, 0.8);
}

button {
    border-radius: 20px;
    border-color: #dcedc1;
    text-decoration-color: #dcedc1;
    color: #dcedc1;
    background-color: #52796f;
    border-style: solid;
    border-width: 1px;
    font-size: 2.5rem; /* 文字を大きく */
    margin: 60px; /* 余白を増やしてボタンを小さく見せる */
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

button:focus, button:active, button:hover {
	background-color: #84a98c;
	outline-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
